 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.img-CAD%}
                                <img src="{{ site.baseurl }}/img/portfolio/{{ post.img-CAD }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endif %}
                            <ul class="list-inline item-details">
                                <li>Project Date:
                                    <strong style="color:#fe8336">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Age:
                                    <strong style="color:#fe8336">{{ post.age }}</a>
                                    </strong>
                                </li>
                                <li>Project Type:
                                    <strong style="color:#fe8336">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            
                            <p style="text-align: justify">{{ post.description }}</p>

                            {% if post.img-1%}
                               <img src="{{ site.baseurl }}/img/portfolio/{{ post.img-1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endif %}

                            {% if post.youtube-link%}
                                <iframe class="youtube-video" src="{{ post.youtube-link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            {% endif %}
                            {% if post.youtube-link2%}
                                <iframe class="youtube-video" src="{{ post.youtube-link2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            {% endif %}
                            
                            {% if post.shorts-link%}
                                <iframe class="youtube-video-shorts" src="{{ post.shorts-link }}" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            {% endif %}
                            <br><br>
                            {% if post.shorts-link2%}
                                <iframe class="youtube-video-shorts" src="{{ post.shorts-link2 }}" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            {% endif %}
                            <br><br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
